body {
  background-color: #2d2d2d;
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  background-color: #797979;
  padding: 5px 10px;
  border-radius: 10px;
}

a:hover {
  background-color: #424242;
  transition: 400ms;
}

.button-text.filter-button {
  border-radius: 10px;
  border: none;
}

.button-text.filter-button:hover {
  background-color: rgb(150, 97, 0);
  transition: 400ms;
}

.button-text.pokedex-button {
  border-radius: 10px;
  border: none;
}

.button-text.pokedex-button:hover {
  background-color: rgb(0, 84, 0);
  transition: 400ms;
}

.pokemon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(95, 26, 26);
}

.div-img-pokemon {
  background-image: url(https://www.justwatch.com/images/backdrop/265942307/s640/pokemon-4ever-celebi-a-voz-da-floresta);
  background-position: 50% 48%;
  border-radius: 10px 10px 0 0;
  width: 220px;
}

.pokemon-name {
  background-color: #797979;
  opacity: 0.9;
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
  margin: 10px;
}

.pokedex-buttons-panel {
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
}

@media only screen and (max-width: 375px) {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .pokedex-buttons-panel {
    display: flex;
    justify-content: center;
  }
}
